#result {
  margin-top: 1.5em; 
}
.navbar {
  margin-bottom: 1.5em;
  border-radius: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 24px;
}
footer {
  background-color: #eee;
  /*border-top: #555 1px solid;*/
  color: #5DA4DC;
  padding: 5px;
}
.row.content {
  height: 550px;
} 
.text-center {
  text-align: center;
}   
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .row.content {height:auto;} 
}
.table-bordered thead {
  background-color: #D8EAFB;
  color: #555;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.table {
    table-layout: fixed;
}
.table td {
    overflow: hidden;
}
.table td div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
}
.highlighted { 
  background: #FDFD90; 
}
.row{
  margin-top: 0.5em;
}
.inline{
  display: inline;
}
/*ng-hide="resultIsEmtpy"*/