<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
		<title>Medical Record Search</title>
		<link href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/js/bower_components/angular-material/angular-material.min.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
		
		<script src='/js/bower_components/angular/angular.min.js'></script>
		<script src='/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
		<script src='/js/bower_components/angular-animate/angular-animate.min.js'></script>
		<script src='/js/bower_components/angular-aria/angular-aria.min.js'></script>
		<script src='/js/bower_components/angular-messages/angular-messages.min.js'></script>
		<script src='/js/bower_components/angular-material/angular-material.min.js'></script>
		<script src="/js/app.js"></script>
	</head>
	<body ng-app='myApp' ng-controller='mainCtrl'>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
		      <a class="navbar-brand" href="#">Medical Record Search</a>
		    </div>
		</nav>
		<div id="searchBar" class="container-fluid">
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2"></div>
				<div class="col-sm-8 col-md-8 col-lg-8">
					<div class="col-xs-5 form-inline">
						查詢欄位：
						<select class="form-control" ng-model="queryKey.column">
							<option>ALL</option>
							<option>CLINICAL HISTORY</option>
							<option>SPECIMEN TYPE</option>
							<option>SPECIMEN ADEQUACY</option>
							<option>DIAGNOSIS</option>
							<option>GROSS DESCRIPTION</option>
							<option>MICROSCOPIC DESCRIPTION</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2"></div>
				<div class="col-sm-8 col-md-8 col-lg-8">
					<div class="col-xs-9">
					腫瘤分類：
					<label class="radio-inline">
						<input type="radio" ng-model="queryKey.option" value="malignancy">malignancy
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="queryKey.option" value="negative for malignancy">negative for malignancy
					</label>
					</div>
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2"></div>
				<div class="col-sm-8 col-md-8 col-lg-8">
					<div class="col-xs-9">
						<input type="text" ng-model="queryKey.keyword" class="form-control" value="Uterus"/>
					</div>
						<input type="button" value="Search" ng-click="search()" class="btn btn-primary btn-md"/>
				</div>
			</div>
		</div>
		<div id="result" class="container-fluid">
			<div class="row content" >			
				<div class="col-sm-2 col-md-2 col-lg-2"></div>
				<div class="col-sm-8 col-md-8 col-lg-8" ng-hide="resultIsEmtpy">
				<span>共有 {{totalSize}} 筆結果</span>
					<table class="table table-hover table-bordered" >
						<thead>
							<tr>
								<th class="col-md-2">rqno</th>
								<th class="col-md-10">content</th>
							</tr>
						</thead>	
							<tr ng-repeat="record in filteredTodos">
								<td>{{ record.rqno }}</td>
								<td><div ng-click="showAdvanced($event, record.content)" ng-bind-html="record.content | highlight:queryKey.keyword"></div></td>
							</tr>
					</table>
					<p align="center">
						<uib-pagination total-items="totalSize" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ></uib-pagination>
					</p>
  				</div>
			</div>	
		</div>
		<div>
  		</div>
		<footer class="container-fluid text-center">
  			<p>Copyright © 2016 Connie. All Rights Reserved.</p>
		</footer>
	</body>
</html>